# =========================
# Environments and Secrets
# =========================
.venv
.env
nose-ac2dd-*.json

# =========================
# Python files
# =========================
*.pyc
*.pyo
*.pyd
__pycache__/
routes/__pycache__/

# =========================
# IDE and editor files
# =========================
.idea/
.vscode/
.DS_Store
